.blog-section .common-heading{
	padding: 40px 14px;
}
.blog-section .common-heading label{
	width: 60px;
}
.blog-section.common-container {
	padding: 80px 75px;
}
.blog-list{
	border-radius: 2px;
	background-color: #FFFFFF;
	margin-bottom: 25px;
	box-shadow: 1px 2px 9px 0 rgba(179,179,179,0.35);
	cursor: pointer;
}
.blog-list a{
	text-decoration: none;
}
.blog-list:hover{
	box-shadow: 7px 6px 12px 0 rgba(179,179,179,0.35);
}
.blog-desc {
	padding: 15px 15px;
}
.blog-desc h5{
	font-size: 16px;
	font-family: 'Montserrat-SemiBold';
	color: #2E2E2E;
	line-height: 24px;
}
.blog-desc span{
	font-size: 12px;
	font-family: 'OpenSans-Regular';
	color: #A6A6A6;
	line-height: 30px;
}
.blog-desc p{
	font-size: 15px;
	line-height: 24px;
	font-family: 'OpenSans-Regular';
	color: #2E2E2E;
}
.blog-img{
	height: 210px;
	width: 100%;
	overflow: hidden;
}
.blog-img img{
	width: 100%;
}
.blog-container{
	margin-top: 100px;
}

.blog-largecard{
	background-color: #FFFFFF;
	padding: 20px;
	margin-bottom: 20px;
}
.largecard-heading {
	position: relative;
}
.largecard-heading .bh-left label,
.largecard-heading .bh-left span,
.largecard-desc label.readMore{
	color: #000000;
	opacity: 0.6;
	font-size: 15px;
	line-height: 23px;
	font-family: 'OpenSans-Regular';
}
.largecard-heading .bh-left span,
.largecard-heading .bh-right span{
	font-size: 12px;
	display: block;
}
.largecard-heading .bh-left label span,
.largecard-heading .bh-right label span{
	opacity: 0.8;
	color: #000000;
	font-size: 15px;
	font-family: 'OpenSansBold';
	display: inline-block;
}
.largecard-heading .bh-right label span{
	font-size: 13px;
}
.largecard-heading .bh-right label{
	position: absolute;
	right: 10px;
	top: 0px;
	font-size: 13px;
	font-family: 'OpenSans-Regular';
	opacity: 0.87;
}
.largecard-heading .bh-right label i{
	color: #cdcdcd;
	font-size: 20px;
	cursor: pointer;
}
.largecard-body h5{
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	font-family: 'OpenSans-Regular';
	margin-top: 15px;
}
.largecard-img{
	margin: 22px 0px;
	height: 200px;
	overflow: hidden;
}
.largecard-img img{
	width: 100%;
}
.largecard-desc p{
	color: #000000;
	opacity: 0.7;
	font-family: 'OpenSans-Regular';
	font-size: 15px;
	line-height: 22px;
}
.largecard-desc label.readMore,
.largecard-desc label.readMore a{
	font-size: 12px;
	display: block;
	color: #000000;
	opacity: 0.7;
}
.blog-category h5{
	font-size: 16px;
	color: #000000;
	opacity: 0.7;
	line-height: 23px;
	font-family: 'OpenSans-Regular';
}
.c-list ul li{
	display: inline-block;
	background-color: #FFFFFF;
	border: 1px solid #ECECEC;
	padding: 8px 17px;
	color: rgba(0, 0, 0, 0.59);
	font-size: 14px;
	font-family: 'OpenSans-Regular';
	margin-bottom: 10px;
}
/*blog inner page*/
.blog-banner{
	width: 100%;
	height: 430px;
	overflow: hidden;
	position: relative;
}
.blog-inner{
	margin-top: 70px;
	background-color: #fff;
}
.blogBanner-desc{
	width: 100%;
	height: 430px;
	background-color: rgba(0, 0, 0, 0.40);
	position: absolute;
	top: 0px;
}
.blogBanner-desc h5{
	width: 515px;
	font-size: 36px;
	line-height: 47px;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	font-family: 'Montserrat-SemiBold';
	margin-top: 140px;
}
.blogBanner-footer{
	position: absolute;
	bottom: 30px;
	font-size: 14px;
	color: #fff;
	left: 0;
	right: 0;
	font-family: 'OpenSans-Regular';
	text-align: center;
}
.blog-data{
	margin-top: 40px;
	width: 1000px;
	position: relative;
}
.blog-data p{
	opacity: 0.8;
	font-family: 'OpenSans-Regular';
	color: #000;
	line-height: 39px;
	font-size: 16px;
	padding-bottom: 20px;
	margin-bottom: 0px;
}
.youMay-like .largecard-img {
	height: auto;
}
.youMay-like .largecard-img{
	margin: 15px 0px;
}
.youMay-like .largecard-body h5 {
	font-size: 19px;
	line-height: 25px;
	margin-top: 7px;
}
.y-heading h5{
	opacity: 0.87;
	color: #000000;
	font-size: 20px;
	font-family: 'Montserrat-SemiBold';
	text-transform: uppercase;
	line-height: 25px;
	text-align: center;
}
.youMay-like{
	margin-top: 20px;
	padding-bottom: 30px;
}
.youMay-like .blog-largecard {
	padding: 0px;
}
.y-heading{
	margin-bottom: 25px;
}
/*blog share*/
.blog-share{
 	position: absolute;
    top: 80px;
    left: -90px;
}
.blog-share h5{
	color: #000000;
	opacity: 0.6;
	font-family: 'OpenSansBold';
	font-size: 12px;
	text-align: center;
}
.blog-share ul{
	text-align: center;
}
.blog-share ul li {
	margin-bottom: 7px;
	cursor: pointer;
}
.blog-share ul li i{
	font-size: 26px;
}
.blog-share ul li i.mdi-heart-outline{
	color: rgba(204,204,204,1);
}
.blog-share ul li i.mdi-google-plus{
	color: #D34836;
}
.blog-share ul li i.mdi-twitter{
	color: rgba(0,132,183,1);
}
.blog-share ul li i.mdi-facebook{
	color: rgba(60,84,154,1);
}
.blog-highlight {
    margin: 0px 0px;
    margin-bottom: 0px;
}
.blog-highlight .list-unstyled {
    padding-left: 0;
    list-style: initial;
    padding-left: 20px;
    margin: 10px 0px 20px 0px;
}
.blog-highlight .list-unstyled li {
    padding-top: 10px;
    opacity: 0.8;
    font-family: 'OpenSans-Regular';
    color: #000;
    font-size: 16px;
    margin-bottom: 0px;
}
.blog-highlight h5 {
    font-size: 18px;
    font-family: 'OpenSansBold';
}
.youMay-like .common-heading{
	padding-top: 0px;
	padding-bottom: 50px;
}
@media only screen and (max-width: 1010px) {
	.blog-data {
		width: 100%
	}
}
@media only screen and (max-width: 768px) {
	.blog-container {
		padding: 0px;
	}
	.largecard-img {
		height: auto;
	}
	.largecard-body h5 {
		font-size: 18px;
		line-height: 26px;
	}
	.blog-largecard {
		padding: 15px;
	}
	.blogBanner-desc h5 {
		width: 90%;
		font-size: 30px;
	}
	.blog-data p {
		line-height: 30px;
		font-size: 15px;
		padding-bottom: 15px;
	}
}
@media screen and (max-width: 1300px) {
	.blog-img{
		height: 150px;
	}
}
@media screen and (max-width: 991px) {
	.blog-img{
		height: auto;
	}
	.Blog-section{
		padding: 0px 0px;
	}
	.blog-highlight h5 {
		line-height: 26px;
	}
	.blog-heading h5 {
		font-size: 15px;
		line-height: 24px;
		text-align: center;
	}
	.blog-heading {
		padding: 10px 0px;
	}
	.blog-section.common-container {
		padding: 80px 0px;
	}
}
