/*fonts*/
@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans-Regular.ttf')
}
@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/OpenSansSemibold.ttf')
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSansBold.ttf')
}
@font-face {
	font-family: 'Montserrat-Black';
	src: url('../fonts/Montserrat-Black.otf')
}
@font-face {
	font-family: 'Montserrat-SemiBold';
	src: url('../fonts/Montserrat-SemiBold.otf')
}
/*common css*/
body{
	font-synthesis: none;
	-moz-font-feature-settings: 'kern';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.row{
	margin:0px;
}
.pad0{
	padding: 0px;
}
.padl0{
	padding-left: 0px;
}
.padr0{
	padding-right: 0px;
}
label{
	margin-bottom: 0;
	font-weight: normal;
}
h5{
	margin: 0px;
}
.common-wrapper{
	margin-top: 80px;
}
.common-container{
	padding: 70px 75px;
}
.common-heading label{
	height: 4px;
	width: 100px;
	background-color: #FF73B4;
}
.common-heading h5{
	font-family: 'Montserrat-Black';
	font-size: 36px;
	color: #424C5C;
	padding-bottom: 10px;
}
.common-heading p{
	font-family: 'OpenSans-Regular';
	color: #7E8899;
	font-size: 15px;
	padding: 25px 0px;
}
.mob-display{
	display: none;
}
.mob-hide{
	display: inline-block;
}
/*checkbox*/
.checkbox-style input:checked {
	background-color: #FF73B4;
	border: 1px solid #FF73B4;
	color: #fff;
}
.checkbox-wrapper input[type=checkbox] {
	display: none;
	position: absolute;
}
.checkbox-wrapper input[type=checkbox]:checked+.custom-checkbox {
	transition: background-color .05s ease;
	background-color: #FF73B4;
	border: 1px solid #FF73B4;
}
.checkbox-wrapper .custom-checkbox {
	display: inline-block;
	background-color: #fafafa;
	width: 15px;
	height: 15px;
	border: 1px solid #cacece;
	position: relative;
	border-radius: 1px;
	border-radius: 3px;
	cursor: pointer;
	margin-right: 5px;
	vertical-align: middle;
	font-size: 14px;
	color: #454b51;
	font-family: OpenSans-Regular;
}
.checkbox-wrapper input[type=checkbox]:checked+.custom-checkbox:after {
	content: "";
	transition: all .05s ease;
	transform: rotate(45deg) scale(1);
	-webkit-transform: rotate(45deg) scale(1);
	-ms-transform: rotate(45deg) scale(1);
	-o-transform: rotate(45deg) scale(1);
}
.checkbox-wrapper .custom-checkbox:after {
	content: "";
	position: absolute;
	width: 5px;
	height: 10px;
	left: 4px;
	top: 0;
	border: 2px solid #fff;
	border-left: 0;
	border-top: 0;
	transform: rotate(45deg) scale(0);
	-webkit-transform: rotate(45deg) scale(0);
	-ms-transform: rotate(45deg) scale(0);
	-o-transform: rotate(45deg) scale(0);
	transition: all .05s ease;
	-webkit-transition: all .05s ease;
	-o-transition: all .05s ease;
}
.checkbox-style label {
	font-family: OpenSans-Regular;
	font-size: 15px;
	cursor: pointer;
}
/*placeholder*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: rgba(0,0,0,0.55);
	font-size: 14px;
	font-family: 'OpenSans-Regular';
}
::-moz-placeholder { /* Firefox 19+ */
	color: rgba(0,0,0,0.55);
	font-size: 14px;
	font-family: 'OpenSans-Regular';
}
:-ms-input-placeholder { /* IE 10+ */
	color: rgba(0,0,0,0.55);
	font-size: 14px;
	font-family: 'OpenSans-Regular';
}
:-moz-placeholder { /* Firefox 18- */
	color: rgba(0,0,0,0.55);
	font-size: 14px;
	font-family: 'OpenSans-Regular';
}
/*button*/
.pink-btn,
.pink-btn:focus,
.pink-btn:hover,
.pink-btn:active,
.pink-btn:active:focus,
#header-section .register-btn,
.start-btn{
	border-radius: 100px;
	background-color: #FF73B4;
	color: #FFFFFF;
	font-size: 12px;
	font-family: 'Montserrat-SemiBold';
	letter-spacing: 1px;
	text-align: center;
	height: 50px;
	padding: 15px 40px;
	outline: 0px;
	outline-offset: 0px;
}
.start-btn,
.start-btn:focus,
.start-btn:hover,
.start-btn:active,
.start-btn:active:focus,
.start-btn{
	border:2px solid #FF73B4;
	background-color: #fff;
	color: #FF73B4;
}
/*header*/
#header-section{
	position: absolute;
	top: 0px;
	border-bottom: none;
	padding: 15px 90px;
	margin-bottom: 0px;
	width: 100%;
	background-color: #484BA0;
}
#header-section .navbar-nav li a{
	color: #FFFFFF;
	font-size: 12px;
	line-height: 15px;
	font-family: 'Montserrat-SemiBold';
	padding: 17px 20px;
	text-transform: uppercase;
}
#header-section .register-btn{
	height: 45px;
	padding: 14px 35px !important;
	margin-left: 20px;
	margin-top: 3px;
}
#header-section .navbar-right{
	margin-right: 0px;
}
/*banner section*/
#banner-section{
	background-color: #484BA0;
	height: 620px;
	padding: 0px 90px;
	position: relative;
}
.banner-description{
	padding: 185px 0px;
}
.banner-description h5{
	font-family: 'Montserrat-Black';
	width: 520px;
	color: #FFFFFF;
	font-size: 40px;
	letter-spacing: 1px;
	line-height: 56px;
	margin-bottom: 15px;
}
.banner-description p{
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
	width: 415px;
	font-family: 'OpenSans-Regular';
	color: #FFFFFF;
	letter-spacing: 0.3px;
}
.banner-description .pink-btn{
	margin-top: 25px;
}
.banner-img{
	position: absolute;
	bottom: -65px;
	right: 120px;
}
#banner-section .shape{
	position: absolute;
	opacity: 0.75;
}
.shape1{
	top: 120px;
}
.shape2{
	bottom: 40px;
}
.shape3{
	left: 350px;
	bottom: 120px;
}
/*features section*/
#feature-section{
	position: relative;
}
.feature-wrapper{
	margin-top: 10px;
}
.feature-list{
	margin-bottom: 30px;
}
.feature-list:last-child{
	margin-bottom: 0px;
}
.feature-list .f-img{
	display: inline-block;
	margin-top: 4px;
}
.feature-list .f-img img{
	width: 40px;
}
.feature-list .feature-desc{
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
}
.feature-list .feature-desc h5{
	color: #424C5C;
	letter-spacing: 1px;
	line-height: 24px;
	font-size: 20px;
	font-family: 'Montserrat-SemiBold';
	margin-bottom: 12px;
	text-transform: uppercase;
}
.feature-list .feature-desc p{
	font-family: 'OpenSans-Regular';
	color: #7E8899;
	line-height: 23px;
	width: 410px;
}
.fixed-feature{
	position: absolute;
	bottom: 0px;
}
/*how it works*/
#works-section{
	background-color: #F8FAFC;
}
.work-wrapper{
	padding: 30px 0px;
	padding-bottom: 0px;
	overflow: hidden;
}
.work-list{
	position: relative;
}
.work-list label{
	color: rgba(0,0,0,0.06);
	font-size: 80px;
	font-family: 'Montserrat-SemiBold';
	line-height: 79px;
}
.work-list h5{
	color: #424C5C;
	font-size: 15px;
	font-family: 'Montserrat-SemiBold';
	line-height: 19px;
	position: absolute;
	top: 23px;
	left: 60px;
	text-transform: uppercase;
	width: 200px;
}
.work-list p{
	color: #7E8899;
	font-size: 14px;
	font-family: 'OpenSans-Regular';
	line-height: 21px;
	margin-top: 10px;
	width: 250px;
}
/*pricing section*/
.price-container{
	margin: 0 auto;
	text-align: center;
}
.price-list{
	background-color: #FFFFFF;
	border-radius: 8px;
	border: 1px solid #EFEFEF;
	height: 575px;
	padding: 25px 20px;
	width: 290px;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	position: relative;
}
.price-list label{
	color: #242526;
	font-size: 10px;
	font-family: 'OpenSansSemibold';
	line-height: 14px;
	text-align: center;
	display: block;
	margin-bottom: 10px;
}
.price-list h5{
	font-size: 48px;
	font-family: 'Montserrat-SemiBold';
	letter-spacing: 2px;
	line-height: 58px;
	text-align: center;
}
.price-list ul{
	margin-top: 30px;
}
.price-list ul li{
	font-family: 'OpenSans-Regular';
	color: #242526;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
}
.price-list.active{
	box-shadow: 6px 14px 41px 0 rgba(99,117,138,0.23);
	background-color: #FF73B4;
}
.price-list.active ul li,
.price-list.active label,
.price-list.active h5{
	color: #fff;
}
.price-list .start-btn{
	position: absolute;
	bottom: 40px;
	display: block;
	left: 0px;
	right: 0px;
	width: 170px;
	text-align: center;
	margin: 0 auto;
}
.price-list.active .start-btn{
	box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.08) !important;
}
/*footer*/
#footer-section{
	border: 1px solid rgba(204,204,204,0.24);
	position: relative;
	overflow: hidden;
}
.footer-shape{
	background-color: #f8fafc;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 620px;
}
.footer-shape label{
	position: absolute;
	top: -80px;
	height: 500px;
	width: 500px;
	border-radius: 100%;
	right: -70px;
	background-color: #f8fafc;
}
.footer-desc h5{
	font-family: 'Montserrat-SemiBold';
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	margin-bottom: 20px;
}
.footer-desc p{
	font-family: 'OpenSans-Regular';
	color: #242526;
	opacity: 0.61;
	font-size: 13px;
	line-height: 26px;
	margin-bottom: 20px;
	width: 320px;
}
.footer-link h5,
.d-heading h5{
	font-family: 'Montserrat-SemiBold';
	color: #000000;
	font-size: 18px;
	line-height: 22px;
}
.footer-link label,
.d-heading label{
	height: 2px;
	width: 30px;
	background-color: #FF73B4;
}
.footer-link ul{
	margin-top: 10px;
}
.footer-link ul li a{
	font-family: 'OpenSansSemibold';
	color: #7E8899;
	font-size: 13px;
	line-height: 29px;
	text-decoration: none;
}
.footer-link.social-connect ul{
	margin-top: 15px;
}
.footer-link.social-connect ul li{
	display: inline-block;
	margin-right: 10px;
}
.footer-link.social-connect ul li a{
	width: 38px;
	height: 38px;
	border-radius: 100%;
	display: block;
	border: 1px solid #f1f1f1;
	text-align: center;
	padding: 5px 0px;
}
.footer-link.social-connect ul li a .mdi{
	font-size: 20px;
	opacity: 0.3;
}
/*disclaimer section*/
#disclaimer-section.common-container{
	padding: 30px 90px;
	padding-bottom: 20px;
}
.disclaimer-desc{
	padding: 12px 0px;
}
.disclaimer-desc p{
	font-family: 'OpenSans-Regular';
	color: #7E8899;
	font-size: 13px;
	line-height: 29px;
	margin-bottom: 0px;
}
.disclaimer-desc a{
	color: #FF73B4;
	font-family: 'OpenSans-Regular';
}
/*burger-menucollpase changes*/
.collapse-btn-align{
	border-radius: 0px;
}

/*main pages*/
.search-wrapper{
	background-color: #FAFAFA;
}
.search-wrapper .search-form{
	padding: 27px 95px;
}
.search-wrapper .search-form .form-group{
	width: 560px;
	position: relative;
	margin-bottom: 0px;
}
.search-wrapper .search-form .form-group .personalize-link{
	color: #484BA0;
	font-size: 13px;
	font-family: 'OpenSans-Regular';
	text-decoration: none;
	position: absolute;
	right: 10px;
	top: 5px;
}
.search-wrapper .search-form .form-group .form-control{
	width: 100%;
	border-radius: 0px;
	border: none;
	border-bottom: 1px solid rgba(123, 123, 123, 0.3);
	background-color: transparent;
	box-shadow: none;
	padding-left:35px;
	font-size: 15px;
	color: rgba(0,0,0,0.55);
	font-family: 'OpenSans-Regular';
}
.input-icons{
	position: absolute;
}
.input-icons .mdi{
	opacity: 0.35;
	color: #000;
	font-size: 24px;
}
/*option tab*/
.option-tab{
	padding: 0px 95px;
	border-bottom: 1px solid rgba(175, 173, 173, 0.45);
}
.option-tab ul{
	margin-bottom: 0px;
}
.option-tab ul li{
	display: inline-block;
}
.option-tab ul li a{
	color: rgba(126, 136, 153, 0.7);
	font-size: 14px;
	text-decoration: none;
	padding: 20px 20px;
	display: block;
	font-family: 'OpenSansSemibold';
	cursor: pointer;
}
.option-tab ul li.active a{
	color: #484BA0;
	border-bottom: 2px solid #484BA0;
}
/*name availability*/
.common-section{
	padding: 0px 85px;
	padding-bottom: 50px;
}
.bad, .good{ 
	display: inline-block; background: url('../images/availability.png') no-repeat; 
	overflow: hidden; 
	text-indent: -9999px; 
	text-align: left; 
	vertical-align: middle;
}
.bad { 
	background-position: -10px -0px; 
	width: 25px; 
	height: 24px; 
}
.good { 
	background-position: -10px -34px; 
	width: 23px; 
	height: 23px; 
}
.t-responsive{
	border:none;
}
.table-layout.table tr th{
	color: rgba(66, 76, 92, 0.7);
	font-size: 15px;
	font-family: 'OpenSansSemibold';
	border-bottom: 1px solid #ddd;
}
.table-layout.table tr td{
	color: rgba(0,0,0,0.6);
	font-size: 14px;
	vertical-align: middle;
	padding: 11px 10px;
	font-family: 'OpenSans-Regular';
}
.availablity-social .table tbody tr:nth-child(even) {
	background-color: #FAFAFA;
}
.social-name .mdi{
	font-size: 24px;
}
.social-name span{
	color: rgba(0,0,0,0.6);
	font-size: 14px;
	font-family: 'OpenSans-Regular';
	vertical-align: top;
	position: relative;
	top: 7px;
	left: 10px;
}
.mdi-open-in-new{
	font-size: 18px;
	color: rgba(0,0,0,0.6);
	cursor: pointer;
}
.available-sort{
	cursor: pointer;
}
.available-sort .mdi{
	font-size: 14px;
}
.load-more-section{
	margin: 0 auto;
	text-align: center;
}
.availablity-data .start-btn{
	height: 45px;
	padding: 12px 25px;
}
/*filter section*/
.filter-section{
	padding: 35px 0px;
}
.filter-section ul{
	float: right;
	margin-bottom: 0px;
	right: 0px;
	left: inherit;
}
.filter-section ul li{
	display: inline-block;
	margin-left: 30px;
	cursor: pointer;
	vertical-align: top;
}
.filter-section ul li label.domain-option{
	color: #7A818C;
	font-size: 13px;
	font-family: 'OpenSans-Regular';
	cursor: pointer;
}
.filter-section ul li:hover label,
.filter-section ul li .btn-default:hover{
	color: #484ba0;
}
.filter-section ul li .mdi{
	font-size: 15px;
}
/*dropdown*/
.dropdown-align .btn-default {
	color: #7A818C;
	font-size: 13px;
	font-family: 'OpenSans-Regular';
	background-color: transparent !important;
	border-color: transparent !important;
	padding: 0px;
	outline: 0px !important;
}
.dropdown-menu{
	box-shadow: none;
	border-radius: 2px;
}
.dropdown-menu li{
	margin-left: 0px !important;
	display: block !important;
}
.dropdown-menu li a{
	padding: 10px 10px;
	color: rgba(0,0,0,0.6);
	font-size: 14px;
	font-family: 'OpenSans-Regular';
}
.dropdown-menu li a:hover{
	color: #fff;
	background-color: #484ba0;
}
.table>tbody>tr>td>span.footable-toggle {
	margin-right: 8px;
	opacity: 1;
	color: #fff;
	background-color: #484ba0;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	text-align: center;
	padding: 3px 0px;
	font-size: 16px;
}
/*trademark list*/
.trademark-list{
	padding: 30px 25px;
	border-bottom: 1px solid rgba(187, 187, 187, 0.6);
	position: relative;
}
.trademark-list .trademark-heading h5{
	color: #000000;
	font-size: 16px;
	font-family: 'Montserrat-SemiBold';
	margin-bottom: 15px;
}
.trademark-list .trademark-heading span{
	color: #000000;
	opacity: 0.69;
	font-size: 14px;
	font-family: 'OpenSans-Regular';
	margin-bottom: 12px;
	display: block;
}
.trademark-desc p{
	font-family: 'OpenSans-Regular';
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0px;
}
.trade-active{
	font-size: 12px;
	font-family: 'OpenSans-Regular';
	padding: 6px 10px;
	border-radius: 3px;
	position: absolute;
	right: 30px;
	top: 40px;
	width: 145px;
	text-align: center;
}
.serious{
	color: #E74C3C;
	border: 1px solid #E74C3C;
}
.mild{
	color: #2ECC71;
	border: 1px solid #2ECC71;
}
.moderate{
	color: #F1C40F;
	border: 1px solid #F1C40F;
}
/*generation page*/
.generation-card{
	background-color: #FAFAFA;
	padding: 25px 20px;
	position: relative;
	cursor: pointer;
	margin-bottom: 15px;
}
.generation-card:hover{
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.16);
}
.g-desc h5{
	color: #000000;
	font-size: 14px;
	margin-bottom: 10px;
	font-family: 'Montserrat-SemiBold';
}
.g-desc label{
	color: rgba(0,0,0,0.55);
	font-size: 13px;
	font-family: 'OpenSans-Regular';
}
.generation-card span{
	color: #2ECC71;
	font-size: 13px;
	font-family: 'OpenSans-Regular';
	position: absolute;
	right: 15px;
	top: 10px;
}
.generation-card .mdi-heart {
	position: absolute;
	font-size: 22px;
	opacity: 0.2;
	right: 15px;
	bottom: 10px;
}
.generation-card .mdi-heart.active {
	color: #e74c3c;
	opacity: 1;
}
/*logo generation*/
.l-heading h5{
	color: #7E8899;
	font-size: 18px;
	font-family: 'OpenSansSemibold';
}
.color-list{
	padding: 30px 0px;
}
.color-list ul{

}
.color-list ul li{
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 40px;
	cursor: pointer;
}
.color-list ul li label{
	height: 70px;
	width: 70px;
	border-radius: 0px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
.color-list ul li label .mdi{
	color: #fff;
	font-size: 24px;
	position: absolute;
	right: 0px;
	left: 0px;
	padding: 17px;
	visibility: hidden;
}
.color-list ul li label.active .mdi{
	visibility: visible;
}
.color-list ul li label ul{
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0px;
}
.color-list ul li label ul li{
	display: inline-block;
	margin: 0px -2px;
}
.color-list ul li label ul li label{
	width: 18px;
	height: 25px;
	border-radius: 0px;
}
.m-color-1{
	background-color:#3B5998;
}
.m-color-2{
	background-color:#8B9DC3;
}
.m-color-3{
	background-color:#DFE3EE;
}
.m-color-4{
	background-color:#F7F7F7;
}
.color-list ul li span{
	color: #7E8899;
	font-family: 'OpenSans-Regular';
	font-size: 14px;
	display: block;
	padding-top: 5px;
}
/*color code*/
.color1{
	background-color: #5856d6;
}
.color2{
	background-color: #007aff;
}
.color3{
	background-color: #34aadc;
}
.color4{
	background-color: #5ac8fa;
}
.color5{
	background-color: #4cd964;
}
.color6{
	background-color: #5856d6;
}
.sticky-tab{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding: 15px 60px;
}
.c-name{
	padding: 12px 0px;
}
.c-name label{
	color: #7A818C;
	font-size: 14px;
	font-family: 'OpenSansSemibold';
}
.c-desc ul{
	margin-bottom: 0px;
	float: right;
}
.c-desc ul li{
	color: #7A818C;
	display: inline-block;
	font-family: 'OpenSansSemibold';
}
.c-desc ul li{
	margin-left: 25px;
}
.c-desc ul li .pink-btn{
	height: 45px;
	padding: 13px 40px;
}
.skip-page{
	cursor: pointer;
}
/*form css*/
.font-wrapper{
	padding: 60px 0px;
}
.font-form .form-group{
	margin-bottom: 30px;
}
.font-form .form-group label{
	color: #000000;
	opacity: 0.33;
	font-size: 14px;
	padding-bottom: 10px;
}
.font-form .form-control{
	border: 1px solid rgba(0, 0, 0, 0.15);
	height: 45px;
	border-radius: 2px;
	box-shadow: none;
	outline: 0;
	font-family: 'OpenSans-Regular';
}
select{
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid rgba(0, 0, 0, 0.3);
	height: 45px;
	border-radius: 2px;
	border-radius: 2px;
	background-position: right 50%;
	background-repeat: no-repeat;
	background-image: url(../images/select.png);
	padding: 6px 1.5em 6px 6px;
	outline: 0;
	margin-bottom: 10px;
}
.preview-section{
	margin-top: -60px;
}
.preview-section .preview-heading{
	padding-bottom: 20px;
}
.preview-section .preview-heading h5{
	font-size: 18px;
	color: #7E8899;
	font-family: 'OpenSansSemibold';
}
.preview-data{
	border: 1px solid #EBEBEB;
	background-color: #FAFAFA;
	height: 325px;
	width: 100%;
	text-align: center;
}
.preview-data label{
	color: #DBDBDB;
	font-size: 48px;
	padding: 120px 0px;
}
.icon-list{
	text-align: center;
}
.icon-list ul li{
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 20px;
	cursor: pointer;
}
.icon-list ul li .mdi{
	font-size: 48px;
	columns: #000;
	opacity: 0.75;
}
/*logo generation*/
.l-list{
	border:1px solid #ddd;
	cursor: pointer;
	margin-bottom: 25px;
	position: relative;
}
.l-desc{
	padding: 10px 15px;
	position: absolute;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.35);
	width: 100%;
}
.l-img{
	width: 100%;
	overflow: hidden;
	height: 240px;
}
.l-img img{
	width: 100%;
	height: 240px;
}
.l-desc ul{
	margin-bottom: 0px;
	float: right;
}
.l-desc ul li{
	display: inline-block;
	margin-left: 20px;
}
.l-desc ul li label{
	cursor: pointer;
}
.l-desc ul li label .mdi{
	color: #f1f1f1;
	font-size: 20px;
}
.l-desc ul li span{
	font-family: 'OpenSans-Regular';
	color: #fff;
	font-size: 14px;
	position: relative;
	top: -2px;
}
/*modal*/
.modal-align .modal-content{
	width: 500px;
	border-radius: 4px;
	margin: 0 auto;
	padding: 20px 40px;
	box-shadow: none;
	padding-bottom: 10px;
}
.modal-align .modal-body{
	padding: 0px;
}
.modal-heading{
	padding: 20px 0px;
	padding-top: 15px;
}
.modal-align .modal-content .modal-heading h5{
	color: #000000;
	opacity: 0.87;
	font-size: 18px;
	font-family: 'Montserrat-SemiBold';
	margin-bottom: 5px;
}
.modal-align .modal-content .modal-heading label{
	position: absolute;
	right: -20px;
	top: -10px;
	cursor: pointer;
}
.modal-align .modal-content .modal-heading label .mdi{
	font-size: 25px;
	color: #767676;
}
.modal-form .form-group{
	margin-bottom: 20px;
}
.modal-form .form-control{
	height: 45px;
	border: 1px solid rgba(123, 123, 123, 0.3);
	border-radius: 2px;
	box-shadow: none;
	outline: 0;
}
.modal-form .pink-btn{
	height: 45px !important;
	border-radius: 2px !important;
	width: 100%;
}
.or-section{
	padding: 30px 0px 20px 0px;
}
.or-section label,
.or-section span{
	font-family: 'OpenSans-Regular';
	color: rgba(0, 0, 0, 0.6);
	display: block;
	margin-bottom: 15px;
	text-align: center;
	font-size: 13px;
}
.or-section span{
	padding: 20px 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.or-section span a{
	color: #FF73B4;
	text-decoration: none;
}
.or-section ul{
	margin-bottom: 0px;
}
.or-section ul li:first-child{
	margin-left: 0px;
}
.or-section ul li{
	display: inline-block;
	width: 31%;
	margin-left: 10px;
}
.or-section ul li .social-btn{
	border-radius: 2px;
	padding: 10px 20px;
	font-size: 14px;
	font-family: 'OpenSansSemibold';
	color: #FFFFFF;
	width: 100%;
}
.or-section ul li .social-btn.fb-btn{
	background-color: #385C9E;
}
.or-section ul li .social-btn.g-btn{
	background-color: #CF573F;
}
.or-section ul li .social-btn.twitter-btn{
	background-color: #3EA4EF;
}
/*contact us*/
.contact-page,
.terms-page,
.about-page{
	padding: 50px 90px;
}
.common-form.contact-form {
	padding: 30px 0px;
}
.common-form .form-group {
	margin-bottom: 25px;
}
.common-form .form-group label {
	color: rgba(0, 0, 0, 0.81);
	font-family: 'OpenSansSemibold';
	font-size: 12px;
	text-align: left;
	display: block;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.common-form .form-control {
	border-radius: 2px;
	border: 1px solid #E3E3E3;
	font-family: 'OpenSans-Regular';
	font-size: 15px;
	height: 45px;
	box-shadow: none;
}
.common-form textarea.form-control{
	height: auto;
}
.contact-details {
	margin-top: 50px;
}
.contact-details ul li{
	padding-bottom: 25px;
}
.contact-details ul li label{
	color: #242526;
	font-family: 'OpenSansSemibold';
	line-height: 20px;
	font-size: 15px;
	display: block;
	padding-bottom: 15px;
}
.contact-details ul li span{
	color: #747474;
	font-size: 16px;
	line-height: 22px;
	font-family: 'OpenSans-Regular';
}
.contact-details ul li span ul li{
	display: inline-block;
	margin-right: 10px;
}
/*about us page*/
.about-dec{
	padding:30px 0px;
}
.about-desc h5,
.terms-desc h5{
	color: #242526;
	font-size: 18px;
	font-family: 'Montserrat-SemiBold';
	line-height: 30px;
	margin-bottom: 10px;
}
.terms-desc h5{
	font-size: 16px;
}
.about-desc p,
.terms-desc p{
	color: #2E2E2E;
	font-size: 14px;
	line-height: 24px;
	font-family: 'OpenSans-Regular';
	margin-bottom: 20px;
}
.terms-page .common-heading,
.about-page .common-heading{
	padding-bottom: 30px;
}
/*filter popup*/
.domain-list ul li{
	width: 31%;
	display: inline-block;
	margin-bottom: 15px;
}
.filter-btn{
	padding: 20px 0px;
	padding-top: 0px;
}
.domain-list .pink-btn {
	height: 40px !important;
	padding: 10px 40px !important;
}
/*step details*/
.step-details {
	text-align: center;
	margin: 40px auto;
	margin-bottom: 0px;
}
.step-details ul li {
	display: inline-block;
	text-align: center;
	margin: 0px -25px;
}
.step-details ul li label {
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background-color: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(210,210,210,0.5), 0 -2px 4px 0 rgba(210,210,210,0.5);
	position: relative;
}
.step-details ul li.active label span {
	background-color: #494ba0;
}
.step-details ul li label span {
	background-color: #D2D2D2;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	position: absolute;
	left: 5px;
	top: 5px;
}
.step-details ul li.active a{
	color: #494ba0;
}
.step-details ul li a{
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
	font-family: 'OpenSansSemibold';
	margin-top: 5px;
	margin-bottom: 0px;
	display: block;
	text-decoration: none;
}
.step-details ul li.line {
	height: 4px;
	background-color: #D2D2D2;
	width: 153px;
	vertical-align: top;
	position: relative;
	top: 10px;
	z-index: -1;
}
.font-box{
	text-align: left;
	border: 2px solid #000;
	padding: 20px 15px;
	line-height: 21px;
	cursor: pointer;
	position: relative;
	margin-bottom: 20px;
}
.font-box h5{
	font-family: 'OpenSansSemibold';
	font-size: 36px;
	padding-bottom: 10px;
}
.font-box label{
	font-family: 'OpenSans-Regular';
	font-size: 13px;
	display: block;
}
.checkmark{
	position: absolute;
	right: 5px;
	top: 5px;
	visibility: hidden;
}
.font-box.active .checkmark{
	visibility: visible;
}
.checkmark .mdi{
	font-size: 26px;
	color: #000;
}
.font-list{
	padding-bottom: 60px;
}
#slider-range{
	width:80%;
	margin-top:10px;
	margin-left: 5px;
}
.price-range{
	padding: 35px 0px;
	padding-top: 0px;
}
.price-range label{
	font-family: 'OpenSans-Regular';
	font-size: 14px;
	margin-bottom: 10px;
}
#amount{
	border: none;
	padding-left: 10px;
}
/*modal big*/
#personalmodal.modal-align .modal-content {
	width: 100%;
	border-radius: 0px;
	height: 100vh;
	padding: 0px;
	overflow: auto;
}
#personalmodal .modal-dialog{
	width: 100%;
	margin: 0px;
}
#personalmodal.modal-align .modal-content .modal-heading{
	padding: 20px 30px;
	background-color: #FAFAFA;
}
#personalmodal.modal-align .modal-content .modal-heading label {
	right: 15px;
	top: 10px;
}
#personalmodal.modal-align .modal-content .modal-heading h5{
	margin-bottom: 0px;
}
.type-form{
	padding-bottom: 25px;
	padding-left: 30px;
}
.type-question{
	width: 700px;
	margin: 30px auto;
}
.type-question .type-heading{
	padding-bottom: 60px;
}
.type-question .type-heading h5{
	font-size: 26px;
	font-family: 'Montserrat-SemiBold';
	color: #484BA0;
}
.type-question ul{
	padding: 40px 25px; 
	margin-bottom: 0px;
}
.type-question ul li .type-form h5{
	font-size: 18px;
	color: rgba(0, 0, 0, 0.9);
	font-family: 'OpenSans-Regular';
	line-height: 30px;
}
.type-question ul li .type-form h5 span{
	font-size: 20px;
	position: relative;
	top: -2px;
	color: #484BA0;
	font-family: 'Montserrat-SemiBold';
}
.type-inline{
	padding: 30px 0px;
}
.type-form .radio-inline{
	margin-right: 40px;
}
.type-inline .form-control{
	box-shadow: none;
	border: none;
	height: 45px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0px;
	font-size: 16px;
}
/*dropdown*/
.type-inline select {
	font-family: 'OpenSans-Regular';
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	height: 45px;
	border-radius: 0px;
	background-position: right 50%;
	background-repeat: no-repeat;
	background-image: url(../images/select.png);
	padding: 6px 1.5em 6px 6px;
	outline: 0;
	margin-bottom: 10px;
	background-color: transparent;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	width: 100%;
	font-size: 16px;
}
.type-inline select:focus,
.type-inline .form-control:focus{
	border-bottom: 1px solid #484BA0;
}
/*radio css*/
input[type='radio'] {
	-webkit-appearance: none;
	width: 14px;
	height: 14px;
	border: 1px solid #4D4D4F;
	border-radius: 50%;
	outline: none;
}
.radio-inline{
	font-size: 14px;
	color:rgba(0, 0, 0, 0.75);
	font-family: 'OpenSans-Regular';
}
input[type='radio']:before {
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	text-align: center;
	margin: 2px auto;
}
input[type='radio']:checked{
	border: 1px solid #484BA0;
}
input[type='radio']:checked:before {
	background:#484BA0;
	border: 1px solid #484BA0;
	outline: 0px;
}
input[type=radio]:focus {
	outline: thin dotted;
	outline: 0px;
	outline-offset: 0px;
}
.checkbox-style input:checked + span{
	color:#0054AC;
}
/*responsive css*/
@media screen and (max-width: 1250px) and (min-width: 991px){
	.price-list {
		width: 270px;
	}
	.footer-desc p {
		width: 100%;
	}
	.work-list p {
		font-size: 13px;
		width: 100%;
		padding-left: 10px;
	}
}
@media screen and (max-width: 1100px) and (min-width: 991px) {
	.footer-link.social-connect ul li {
		margin-bottom: 10px;
	}
	.banner-img img{
		width: 350px;
	}
	.common-container{
		padding: 40px 20px;
	}
	#banner-section{
		padding: 0px 35px;
	}
	#header-section {
		padding: 20px 35px;
	}
	/*main page*/
	.search-wrapper .search-form {
		padding: 27px 30px;
	}
	.option-tab{
		padding: 0px 30px;
	}
	.common-section {
		padding: 0px 15px;
	}
}
@media screen and (max-width: 991px) {
	/*common css*/
	.common-container {
		padding: 40px 15px;
	}
	.mob-display{
		display: block;
	}
	.mob-hide,
	.shape,
	.footer-shape{
		display: none;
	}
	/*header*/
	#header-section {
		padding: 20px 15px;
	}
	.navbar-default .navbar-toggle,
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:hover {
		border-color: transparent;
		margin-right: 5px;
		background-color: transparent;
	}
	.navbar-default .navbar-toggle .icon-bar,
	.navbar-collapse {
		background-color: #fff !important;
	}
	#header-section .navbar-nav li a {
		color: #424C5C;
		font-size: 12px;
		padding: 15px 20px;
	}
	#header-section .register-btn {
		height: 45px;
		padding: 14px 35px !important;
		margin: 15px;
		color: #fff !important;
	}
	/*banner section*/
	#banner-section {
		padding: 0px 15px;
		height: 420px;
	}
	.banner-description {
		padding-top: 125px;
	}
	.banner-img,
	.fixed-feature{
		display: none;
	}
	.banner-description h5 {
		width: 100%;
		font-size: 26px;
		line-height: 36px;
	}
	.banner-description p {
		width: 100%;
	}
	.banner-description .pink-btn {
		margin-top: 15px;
	}
	/*work list*/
	.work-wrapper {
		padding: 0px;
	}
	.work-list {
		margin-bottom: 50px;
	}
	.work-list h5{
		width: 200px;
	}
	.work-list p{
		width: 100%;
	}
	/*feature list*/
	#feature-section {
		padding: 40px 0px;
	}
	.feature-list .f-img {
		display: block;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 20px;
	}
	.feature-list .feature-desc {
		display: block;
		margin-left: 0px;
	}
	.feature-list .feature-desc p {
		width: 100%;
		text-align: center;
	}
	.feature-list .feature-desc h5 {
		text-align: center;
		font-size: 16px;
		margin-bottom: 5px;
	}
	.feature-list {
		margin-bottom: 50px;
	}
	.feature-wrapper {
		float: none !important;
	}
	.feature-wrapper .pink-btn {
		width: 170px;
		text-align: center;
		margin: 0 auto;
	}
	/*price page*/
	.price-list {
		height: auto;
		padding: 25px 20px;
		width: 100%;
		margin-left: 0px;
		margin-bottom: 20px;
	}
	.price-list .start-btn {
		position: inherit;
		bottom: 0px;
		margin: 40px auto;
		margin-bottom: 0px;
	}
	#works-section {
		padding-bottom: 0px;
	}
	/*footer section*/
	#footer-section {
		padding: 40px 0px;
	}
	/*disclmilar*/
	#disclaimer-section.common-container {
		padding: 10px 15px;
	}
	/*button*/
	.pink-btn, 
	.pink-btn:focus,
	.pink-btn:hover, 
	.pink-btn:active, 
	.pink-btn:active:focus, 
	#header-section .register-btn, 
	.start-btn {
		height: 45px;
		padding: 13px 40px;
	}
	/*navbar 991*/
	.navbar-collapse.collapse{
		display: none!important;
		height: 0!important;
		padding-bottom: 0;
		overflow: hidden!important;
	}
	.navbar-toggle.collapsed{
		display:block!important;    
	}
	.navbar-toggle{
		display:block!important;    
	}
	.navbar-collapse.collapse.in{
		display:block!important;    
		height:auto!important;
		overflow:visible!important;
	}
	.navbar-nav>li,.navbar-header{
		float:none; 
	}
	.nav-collapse-align ul{
		width: 100%;
	}
	/*main page*/
	.search-wrapper .search-form {
		padding: 27px 15px;
	}
	.option-tab{
		padding: 0px 15px;
	}
	.common-section {
		padding: 0px 0px;
	}
	.filter-section ul {
		float: none;
	}
	.filter-section ul li {
		margin-left: 0px;
		margin-right: 30px;
	}
	.availablity-social{
		padding-bottom: 25px;
	}
	/*trademark list*/
	.trademark-list{
		padding: 30px 0px;
	}
	.filter-section ul{
		right: inherit;
		left: 0px;
	}
	.trade-active {
		right: 0px;
	}
	.padr0{
		padding-right: 15px;
	}
	.preview-section {
		margin-top: 0px;
		padding: 0px 15px;
	}
	.font-wrapper,
	.color-list,
	.logo-wrapper {
		padding-top: 0px;
		padding-bottom: 100px;
	}
	/*contact page*/
	.contact-page,
	.terms-page,
	.about-page{
		padding: 50px 15px;
	}
	.contact-page .padl0{
		padding-right: 0px;
	}
}
@media screen and (max-width: 768px) {
	/*common*/
	.common-heading p {
		padding: 15px 0px;
	}
	/*features*/
	.common-heading h5 {
		font-size: 26px;
		padding-bottom: 0px;
	}
	.search-wrapper .search-form .form-group {
		width: 90%;
	}
	.option-tab ul li a{
		padding: 20px 10px;
		font-size: 12px;
	}
	.table-layout.table tr th{
		border-bottom: 0 !important;
	}
	.price-align{
		text-align: center;
	}
	.social-name span{
		display: none;
	}
	/*sticky*/
	.sticky-tab {
		padding: 15px 0px;
	}
	.c-name label {
		font-size: 11px;
	}
	.c-desc ul li .pink-btn {
		height: 40px;
		padding: 11px 30px;
	}
	.color-list ul li label {
		height: 40px;
		width: 40px;
	}
	.color-list ul li span {
		font-size: 13px;
	}
	.color-list ul li {
		margin-right: 20px;
		margin-bottom: 20px;
	}
	.icon-list ul li .mdi {
		font-size: 32px;
	}
	.icon-list ul li {
		margin-right: 20px;
		margin-bottom: 15px;
	}
	.t-responsive{
		min-height: .01%;
		overflow-x: auto;
	}
	.modal-align .modal-content{
		width: 90%;
	}
	.domain-list ul li {
		width: 48%;
	}
}
@media screen and (max-width: 600px) {
	.modal.in .modal-dialog{
		margin: 0px;
	}
	.modal-align .modal-content{
		width: 100%;
		padding: 20px 10px;
		border-radius: 0px;
	}
	.modal-align .modal-content .modal-heading label {
		right: 0px;
	}
	.or-section ul li {
		width: 30%;
	}
}
@media screen and (max-width: 420px) {
	.banner-description h5 {
		font-size: 20px;
	}
	.banner-description p {
		font-size: 14px;
	}
	.footer-desc p {
		width: 100%;
	}
	.filter-section ul li {
		margin-right: 10px;
	}
	.filter-section ul li label.domain-option,
	.dropdown-align .btn-default {
		font-size: 12px;
	}
	.table>tbody>tr>td>span.footable-toggle {
		width: 15px;
		height: 15px;
		padding: 0px 0px;
		font-size: 14px;
		margin-right: 5px;
	}
	.table-layout.table tr td {
		padding: 11px 5px;
		font-size: 12px;
	}
	.table-layout.table tr th{
		font-size: 13px;
	}
}
/*animation css*/
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.animated.hinge {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}

@-webkit-keyframes slideInUp {
	from {
		-webkit-transform: translate3d(0, 20%, 0);
		transform: translate3d(0, 20%, 0);
		visibility: visible;
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInUp {
	from {
		-webkit-transform: translate3d(0, 20%, 0);
		transform: translate3d(0, 20%, 0);
		visibility: visible;
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
.slideInUp {
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
}